name: aranae-docker
services:
  mysql:
    image: mysql:8.0
    container_name: aranae-mysql
    restart: unless-stopped
    ports:
      - "${MYSQL_PORT}:3306"
    env_file:
      - .env
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      TZ: Asia/Seoul
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    volumes:
      - aranae-mysql-data:/var/lib/mysql

volumes:
  aranae-mysql-data: